@* Para convertirlo en fuertemente tipado e indicarle que únicamente permita objetos derivados del modelo Escuela  *@

@model Escuela
@* Declarando código Razor en una sola línea , se inicia la línea con @*@
@* Declarando código Razor en más de una línea con @ + {} *@

@{
    ViewData["Title"] = "Información Escuela";
    Layout = "_Layout"; //Se le indica que utlice una plantilla situada en la carpeta Shared
}


<h1> Escuela: @ViewData["Title"] </h1>
<h2> Nombre: @Model.Nombre </h2>
<p><strong> Año de fundación: @Model.AñoDeCreación </strong></p>

@*Acceder al ViewBag*@
<p><strong><i> Fecha Actual: @ViewBag.FechaActual </i></strong></p>
@*Acceder con ViewData*@
<p><strong><i> Fecha Actual: @ViewData["FechaActual"] </i></strong></p>